<%# THIS IS WHERE YOU SEE SPELLS IN YOUR GRIMOIRE FOR ADDING%>


<h2>Spells in this book:</h2>

<% grimoire.spells.forEach(function(spell) { %>
	<h4><a href='<%= spell.url %>'><%= spell.name %></a></h4>
<% }); %>



<h2>Add a spell...</h2>

<% spells.forEach(function(spell) { %>
	<% var spellArray = spell.url.split('/'); %>
	<% var index = spellArray[spellArray.length -1]; %>
	<div id="splist">
		<p>
			<a href="/characters/<%=cid%>/grimoires/<%=grimoire.id%>/spells/<%=index%>">
				<%= spell.name %> 
			</a>		
		</p>
	</div>		
<% }); %>



