<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Show One Spell and Details</title>
</head>
<body>

	<p><%= spell.name %></p> 
	<p><%= spell.desc %></p>
	<p><%= spell.school.name %></p>
	<p><%= spell.url %> </p> 
	
	
	
	</p>

	<%# FILL IN AND FORMAL ALL THE OTHER DETAILS YOU WANT FROM THE MODEL IN POSTMAN AND LOTS OF SQUIDDIES %>

	<form method="POST" action="/characters">
		<input hidden type="text" name="name" value="<%= spell.name %>">
		<button class="btn btn-primary" type="submit">Learn Spell</button>
	</form>

<a href="/academy">Return to Academy</a>


<p>MAKE SOME LINKS BRUH, SO YOU CAN GET AROUND YO SITE BRUH</p>



	
</body>
</html>



<%# Data like that in SHOWPK %>
<%# DISABLE LEARN BUTTON OR MAKE ALERT TO REMIND TO SELECT GRIMOIRE %>










