<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Show One Spell and Details</title>
</head>
<body>

	<p>Name: <%= spell.name %></p> 
	<p><%= spell.desc %></p>
	<p>School: <%= spell.school.name %></p>
	<p>Classes: <%= spell.classes %> </p> 	
	<p>Components: <%= spell.components %></p>
	<p>Range: <%= spell.range %> </p> 
	<p>Ritual: <%= spell.ritual %> </p> 
	<p>Duration: <%= spell.duration %> </p> 
	<p>Players Handbook Page: <%= spell.page %> </p> 
	<p><%= spell.url%> </p> 
	


	<a href="/academy">Back</a>
	
</body>
</html>












