<h1><%= character.name %></h1>



<p><%= character.name %> </p>
<p><%= character.class %> </p>
<p><%= character.level %> </p>
<%# For loop for this list %>
<p><%= character.grimoire%></p>


<a href="/characters/<%= character.id %>/grimoires/new">Create a New Grimoire</a> 

||

<a href="/characters/<%= character.id %>/grimoires/">Grimoires</a> 

||

<form method='POST' action='/characters/<%=character.id%>/?_method=DELETE'> 

	<button type="submit">Delete this Character</button>

||

<a href="/characters/<%= character.id %>/edit">Edit this Character</a>



</form>
